{% extends "base.html" %}

{% block content %}
  <h1 id="titlemarquette">Marquette Golden Eagles</h1>
  <p id="firstparagraphmarquette"> The Golden Eagles best days are gone, but they
    still represent a big culture aspect of Milwaukee. Dwayne Wade is a hero here
    and played for the Golden Eagles. They haven't won the <a href="https://www.ncaa.com/sports/basketball-men/d1">NCAA March Madness</a>
    tournament in a while. There are a variety of reasons why they're bad. Like.
  </p><br>
  <ul>
    <li>Coaching is terrible.</li>
    <li>No solid players.</li>
    <li>Overrated.</li>
    <li>Lack of effort.</li>
  </ul>
  <p id="secondparagraphmarquette"> I still believe in the Golden Eagles, but they
    need to be more aggresive in recruiting high schoolers. Fundamentals are important
    to growth. I believe they will be good in 10 years.
  </p><br>
  <a href='/'>To Home</a>
{% endblock content %}
